@import "../../../styles/fonts.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/sizes.scss";
@import "../../../styles/responsive.scss";
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $footer_height;
    background-color: $fifth-color;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &__content,
    &__contact {
        font-family: $font-roboto;
        color: $primary-color;
        font-size: $paragraph-size;
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}