<h1>Detalles del Pokemon:</h1>
<div class="pokemon-details" *ngIf="pokemonSearchData">
    <div class="pokemon-details__name-container">
        <p class="pokemon-details__name">Nombre: {{pokemonSearchData.name}}</p>
        <p class="pokemon-details__name">Altura: {{pokemonSearchData.height }}</p>
        <p class="pokemon-details__name">Peso: {{pokemonSearchData.weight}}</p>
    </div>
    <div class="pokemon-details__image-container">
        <img class="pokemon-details__image" src="{{pokemonSearchData.sprites.other.dream_world.front_default}}" alt="{{pokemonSearchData.name}}">
    </div>
</div>
