@import "../../../../styles/fonts.scss";
@import "../../../../styles/colors.scss";
@import "../../../../styles/sizes.scss";
@import "../../../../styles/responsive.scss";
.pokemon-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__name-container {
        display: flex;
        justify-content: center;
    }
    &__name {
        margin-left: 10px;
        text-transform: capitalize;
    }
    &__image-container {
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
    }
    &__image {
        width: 60%;
        height: auto;
    }
}
