@import "../../../../styles/fonts.scss";
@import "../../../../styles/colors.scss";
@import "../../../../styles/sizes.scss";
@import "../../../../styles/responsive.scss";
.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    &__show-pokemon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 100px;
        border: 1px, solid, black;
    }
    &__image-conatiner {
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
    }
    &__pokemon-name {
        text-transform: capitalize;
    }
}