<div class="search-container">
    <input #pokemonName type="text">
    <button (click)="getPokemonByName(pokemonName.value)">Search</button>
</div>
<div *ngIf="pokemonSearchData" class="search-container__show-pokemon" class="pokemon-container">
    <h1 class="pokemon-container__pokemon-name">{{pokemonSearchData.name}}</h1>
    <div class="pokemon-container__image-conatiner">
        <img src="{{pokemonSearchData.sprites.other.dream_world.front_default}}" alt="{{pokemonSearchData.name}}">
    </div>
</div>