<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="userRegistration">
        <fieldset>
            <label for="name">Nombre</label>
            <input type="text" name="name" formControlName="name">
            <div *ngIf="!userRegistration.get('name').valid &&
        (userRegistration.get('name').dirty || submitted)">
                Has introducido mal tu nombre
            </div>
        </fieldset>
        <fieldset>
            <label for="nickname">Nickname</label>
            <input type="text" name="nickname" formControlName="nickname">
            <div *ngIf="!userRegistration.get('nickname').valid &&
        (userRegistration.get('nickname').dirty || submitted)">
                Has introducido mal tu nickname
            </div>
        </fieldset>
        <fieldset>
            <label for="email">Email</label>
            <input type="email" name="email" formControlName="email">
            <div *ngIf="!userRegistration.get('email').valid &&
        (userRegistration.get('email').dirty || submitted)">
                Has introducido mal tu email
            </div>
        </fieldset>
        <fieldset>
            <label for="password">Password</label>
            <input type="text" name="password" formControlName="password">
            <div *ngIf="!userRegistration.get('password').valid &&
        (userRegistration.get('password').dirty || submitted)">
                Has introducido mal tu password
            </div>
        </fieldset>
        <fieldset>
            <label for="passwordRepeat">Repeat password</label>
            <input type="text" name="passwordRepeat" formControlName="passwordRepeat">
            <div *ngIf="!userRegistration.get('passwordRepeat').valid &&
      (userRegistration.get('passwordRepeat').dirty || submitted)">
                Tu contraseña no coincide
            </div>
        </fieldset>
        <button type="submit" [disabled]="!userRegistration.valid">Submit</button>
    </form>
</div>

<div>
    <app-registred-user></app-registred-user>
</div>