@import "../../../../styles/fonts.scss";
@import "../../../../styles/colors.scss";
@import "../../../../styles/sizes.scss";
@import "../../../../styles/responsive.scss";
.list-pokemon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px 0 0 100px;
}

.list-container {
    overflow-y: scroll;
    height: 400px;
    margin-top: 20px;
    &__item {
        list-style: none;
        cursor: pointer;
    }
}
