<div class="list-pokemon">
    <section>
        <div class="button-container">
            <button (click)="getPokemonList()" class="list-container__button">Listar Pokemons</button>
        </div>
        <div class="list-container" *ngIf="pokemonListToPrint">
            <ul *ngFor="let pokemon of pokemonListToPrint" class="list-container__list">
                <li class="list-container__item" (click)="getPokemonByName(pokemon.name)">
                    <p>{{pokemon.name}}</p>
                </li>
            </ul>
        </div>
    </section>
    <app-pokemon-details [pokemonSearchData]="pokemonSearchData"></app-pokemon-details>
</div>
