<nav class="navbar">
    <div class="navbar__link-box">
        <a routerLink="/home/">Home</a>
        <a routerLink="/searchPokemon/">Buscar  Pokemons</a>
        <a routerLink="/listPokemon/">Listar  Pokemons</a>
    </div>
</nav>