@import "../../../../styles/fonts.scss";
@import "../../../../styles/colors.scss";
@import "../../../../styles/sizes.scss";
@import "../../../../styles/responsive.scss";
.navbar {
    height: $header_height;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $fifth-color;
    &__link-box {
        font-family: $font-playfair-display;
        color: $primary-color;
        font-size: $linkbox-size;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    a {
        text-decoration: none;
        color: $primary-color;
        font-size: $linkbox-size;
    }
}